{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Adeline",
        "Alteheimer",
        "Audibold",
        "Azriel",
        "Azgore",
        "Baker",
        "Benjamin",
        "Churro",
        "Charles",
        "Cloverson",
        "Connie",
        "Esteban",
        "Erebus",
        "Franz",
        "Frisko",
        "Frederick",
        "Heimer",
        "Jacob",
        "Joan",
        "Jones",
        "Konig",
        "Leylon",
        "Michel",
        "Neuheimer",
        "Ross",
        "Samuel",
        "Wallace",
        "Wilhelm" ]
    ]
  ]
}
