{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Adeline",
        "Arlesi",
        "Azriel",
        "Connie",
        "Connine",
        "Erebus",
        "Frisko",
        "Haywood",
        "Helene",
        "Joan",
        "Jeanne",
        "Jones",
        "Konigin",
        "Leylon",
        "Rosa",
        "Turiel"
      ]
    ]
  ]
}
