{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },"Asgorovic",
        "Bloemvelt",
        "Chevalier",
        "Delaporte",
        "Deschutes",
        "Eiswald",
        "Feuerland",
        "MacGerson",
        "MacMuffet",
        "Montebot",
        "O'Corr",
        "Padzemeliev",
        "Ralseyevsky",
        "Snadinsky",
        "Steinhauser",
        "Torielsen",
        "Vanbloemen",
        "Vanderhal"]
    ]
  ]
}
